<div class="slide" id="illustrationsslide2" data-slide="1" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
    	<div id="brandintro">
            <span class="quote">Open Mic</span>
        </div>
    </div>
</div>
<div class="slide" id="illustrationsslide1" data-slide="1" data-stellar-background-ratio="0.55">
    <div class="container clearfix">
        <div id="lumendescription">
        <h2>Illustrations</h2>
        <h3>Skills used:</h3>
        <p>Photoshop, Illustrator, Paints, Pens, Spraypaint</p>
        
            <div class="small-12 medium-6 large-6 columns">
                
               
            </div><!--ends #lumenintro-->
            </div><!--ends the div class-->    
            
                
               <div class="small-12 medium-6 large-6 columns">
                <div id="illustrationsintro">
                    <p>Here are a few photos of some projects that I mainly illustrated. There are a few examples of screenprinted posters as well.</p> 
                    
				
            </div><!--ends Foundation div class-->
        </div><!--ends #lumendescription-->
	</div><!--ends Cool Kitten class "container clearfix"-->
</div><!--ends Cool Kitten class "slide"-->



    <figure>
    	<img src="../images/illustrations/cover-and-cd.jpg" alt="Cover and CD for Hiatus" />
    	<figcaption>The front cover and inside CD for Hiatus' album "Average Joe"</figcaption>
    </figure>
    
    <figure>
    	<img src="../images/illustrations/lyric-book.jpg" alt="Lyric book spread 1" />
        <figcaption>An inside spread of the Average Joe lyric book</figcaption> 
    </figure>
    
    
    <figure>
    	<img src="../images/illustrations/lyric-book-2.jpg" alt="Lyric book spread 2" />
        <figcaption>2 illustrations, relating heavily to the songs</figcaption>
    </figure>
  
    
    <figure>
    	<img src="../images/illustrations/lyric-book-3.jpg" alt="Lyric book spread 3" />
        <figcaption>The ending of the lyrics, and the transformation of the Average Joe</figcaption>
    </figure>