<div id="portfolio">

    <div class="small-12 medium-6 large-6 columns">
        <a href="/portfolio/lumen">
        	<div id="firstproject">
        
        	</div>
        </a>
    </div>
    
    <div class="small-12 medium-6 large-6 columns">
        <a href="/portfolio/relic">
            <div id="secondproject">
            
            </div>
        </a>
    </div>
    
    <div class="small-12 medium-6 large-6 columns">
        <a href="/portfolio/manufacturingconsent">
        <div id="thirdproject">
        
        </div>
        </a>
    </div>
    
    <div class="small-12 medium-6 large-6 columns">
        <a href="/portfolio/perversion">
        <div id="fourthproject">
        
        </div>
        </a>
    </div>
    
    <div class="small-12 medium-6 large-6 columns">
        <a href="/portfolio/quango">
        <div id="fifthproject">
        
        </div>
        </a>
    </div>
    
    <div class="small-12 medium-6 large-6 columns">
        <a href="/portfolio/rhinos">
        <div id="sixthproject">
        
        </div>
        </a>
    </div>
    
    