<div class="slide" id="rhinoslide2" data-slide="1" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
    	<div id="mag2intro">
        	<span class="quote">Endangered</span>
        </div>
    </div>
</div>

<div class="slide" id="ourquangoslide1" data-slide="1" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
        <div id="rhinodescription">
        <h2>Jax Zoo Rhino Exhibit</h2>
        <h3>Skills used:</h3>
        <p>Photoshop, Illustrator, Dreamweaver</p>
        <div class="small-12 medium-6 large-6 columns">
                <div id="rhinobrand">
            
                </div>
            </div>
            <div class="small-12 medium-6 large-6 columns">
                <div id="rhinointro">
                   
                    <p>Rhino species are disappearing at an alarming rate. Poaching has increased in the last year and not enough people know about how heavily rhinos affect their surrounding environment. Most people are also not aware of the Jacksonville Chapter of Bowling for Rhinos, an AAZK organization dedicated to protecting rhinos.</p> 
                    <p>The goal of our redesign for the rhino overlook was to raise awareness for the endangered status of rhinos as well as inform our audience about rhinos as an umbrella species. We also implemented several Bowling for Rhinos elements within the exhibit, in hopes to generate: traffic to the event, the website, and lastly, larger donations. To spark the most interest, from the largest distribution of demographics possible, we incorporated a level of interactivity within each element designed for the exhibit.</p> 
                </div><!--ends #lumenintro-->
            </div><!--ends the div class-->    
            
        </div>
	</div>
</div>



    <figure>
    <img src="../images/rhinos/intro-rhino-photo.jpg" alt="slide 1" />
    <figcaption>Our subject matter</figcaption>
   	</figure>
    
    <figure>
    <img src="../images/rhinos/binocular-after.jpg" alt="slide 2" />
    <figcaption>We worked within our set parameters</figcaption>
    </figure>
   	
    <figure>
    <img src="../images/rhinos/binocular-display-final.jpg" alt="slide 3" />
    <figcaption>Designed to increase use of the binoculars</figcaption>
    </figure>
    
    <figure>
    <img src="../images/rhinos/umbrella-species-final.jpg" alt="slide 4" />
    <figcaption>At the time, these were the animals inside of the exhibit</figcaption>
    </figure>
    
    <figure>
    <img src="../images/rhinos/old-bfr-sign.jpg" alt="slide 6" />
    <figcaption>Behind the binoculars, stood the wool for Bowling for Rhinos</figcaption>
    </figure>
    
    <figure>
    <img src="../images/rhinos/rhino-no-bench.jpg" alt="slide 7" />
    <figcaption>This was our design, a life-size rhino with sliding doors</figcaption>
    </figure>
    
    <figure>
    <img src="../images/rhinos/rhino-no-bench-doors-open.jpg" alt="slide 8" />
    <figcaption>Life-size rhino mockup with doors open and 4 different rhino facts</figcaption>
    </figure>
    
    <figure>
    <img src="../images/rhinos/side-wall-with-pins-v2.jpg" alt="slide 9" />
    <figcaption>The side wall was dedicated to Bowling for Rhinos</figcaption>
    </figure>
   
   	<figure>
    <img src="../images/rhinos/stand-flat.jpg" alt="slide 10" />
    <figcaption>The stand layout gave the viewer the option to view an animation video</figcaption>
    </figure>
    
    <figure>
    <img src="../images/rhinos/bfr-pamphlet.jpg" alt="slide 11" />
    <figcaption>An ephemeral, one-sided pamphlet that is next to the stand</figcaption>
    </figure>
    
    
    
    <figure>
    <img src="../images/rhinos/bfr-t-shirt-rhino-color.jpg" alt="slide 12" />
    <figcaption>This is a shirt concept we developed for the Zoo, to help raise money for Bowling for Rhinos</figcaption>
    </figure>
    
    <figure>
    <img src="../images/rhinos/shirt-patch.jpg" alt="slide 13" />
    <figcaption>This is the patch, specifically designed for our t-shirt designs</figcaption>
    </figure>
    
