<div id="contactpagewrap" >
    <div id="contactpagevideo" 
    data-vide-bg="mp4: videos/interests-edit_1, poster: images/contact-page-first-frame" data-vide-options="posterType: png, loop: true, muted: true, position: 20% 50%">
        <div id="contactpageintro">
            <h1>Bye</h1>
            <h2>I could be surfing...</h2>
            <h3>But I'm probably working.</h3>
            
            	<p>Give me a call at:</p>
                <p><span class="important">850.982.6238</span></p> 
                <p>Or e-mail me at:</p> 
                <p><span class="important">mel.youngdesign@gmail.com</span></p> 
                
            <!--<div id="fixed-bottom-anchor"> 
            </div><!--This ends the #fixed-bottom-anchor div-->
        </div><!--  This ends the #homepageintro div-->       
    </div><!--This ends the #homepagevideo div-->  
