 
<div id="homepagewrap" >
	
    <!--<div id="homepagevideo" 
    data-vide-bg="mp4: videos/spinny-cube-for-homepage_1, poster: images/spinny-cube-first-frame" data-vide-options="posterType: png, loop: true, muted: true, position: 50% 50%">-->
        <div id="homepageintro">
            <h1>Hi</h1>
            <h2>This is IV DIMENSIONS.</h2>
            <h3>I'm Melvin Young IV &#40;the fourth or 4&#41;.</h3>
            
            	<p>I'm a designer; doing designerly things such as front-end web design and development, animation and illustration. Take a look at some of my work, on my Portfolio page.</p> 
                <a href="#" data-reveal-id="animationModal">Why is the cube spinning?</a>
                <div id="animationModal" class="reveal-modal large" data-reveal aria-labelledby="videoModalTitle" aria-hidden="true" role="dialog">
                    <h2 id="videoModalTitle">IV DIMENSIONS</h2>
                    <div class="flex-video widescreen vimeo">
                        <iframe src="https://player.vimeo.com/video/124834026" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/124834026">IV DIMENSIONS brand build</a> from <a href="https://vimeo.com/user7587210">Mel Young</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                    </div><!--This div class flex-video widescreen vimeo modal-->
                <a class="close-reveal-modal" aria-label="Close">&#215;</a>	
                </div>  <!--This ends the #animation modal div-->
            <!--<div id="fixed-bottom-anchor"> 
            </div><!--This ends the #fixed-bottom-anchor div-->
        </div><!--  This ends the #homepageintro div-->       
    </div><!--This ends the #homepagevideo div-->  

    <!--<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
        <div class="container clearfix">
        
            <div id="content">
                <h1>Contact Me</h1>
                <p>Send me an e-mail</p>
                <p>Don't forget to follow me, still very serious.</p>
                <p><a href="https://twitter.com/mowgli_bearcub" target="_blank"><img src="images/twitter.png"></a></p>
            </div><!--This ends the #content-->
        
        <!--</div>
    </div>---ends #slide4--->

    
 
        
	

</div>

